.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }

  .button {
    margin: 0 auto;
  }
  @media screen and (max-width: 800px) {
    @media screen and (max-width: 800px) {
      width: 350px;
      text-align: center;
    }
  }
}
